@import url("http://localhost:5103/Login");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://tse4.mm.bing.net/th?id=OIG3._8yfesZUFVTUGEy.80RZ&pid=ImgGn') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

    .wrapper h1 {
        font-size: 36px;
        text-align: center;

    }

.wrapper .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        margin:30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff !important;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


 .wrapper .btn{
     width:100%;
     height:45px;
     background: #ffffff;
     border: none;
     outline: none;
     border-radius:40px;
     box-shadow: 0 0 10px rgba(0,0,0, .1);
     cursor:pointer;
     font-size:16px;
     color: #333;
     font-weight:600;
 }
