@page
@model HomeModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Descripcíón toda mela <a href="https://i.pinimg.com/236x/80/e6/a0/80e6a056df776ba85c130e70ed95f9f9.jpg">link de locos</a>.</p>
</div>
@* https://learn.microsoft.com/aspnet/core *@