@page
@model asp_presentacion.Pages.LoginModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <h1>Login</h1>
            <div class="input-box">
                <input id="nmNombre_Usuario" class="cts_forms form-control" type="text" placeholder="Username"
                       asp-for="@Model.UsuarioActual!.Nombre_Usuario"
                       required>
                <i class='bx bxs-user-circle'></i>
            </div>
            <div class="input-box">
                <input id="nmClave" class="cts_forms form-control" type="password" placeholder="Password"
                       asp-for="@Model.UsuarioActual!.Clave"
                       required>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>

        @if (ViewData.ContainsKey("Mensaje"))
        {
            <input type="hidden"
                   asp-for="@Model" />
            @await Html.PartialAsync(
                     "../Emergentes/Mensajes.cshtml")
            ;
        }

    </div>

</body>

